{{ define "main" }}
<main>
  <p><strong>Thanks for a great 11 years!</strong></p>
  <p>While the original purpose of the site was to allow people to write stories collaboratively, I added a small <a href="/game">word minigame</a> that took off in popularity, leading to almost four person-years of time spent on the website in the past eleven years.</p>
  <p>Since there hasn't been much activity on the rest of the site and the core infrastructure is very old, I decided to shut down the site's interactive functionality.</p>
  <p>The game is still available to be played, and I'll maintain this static archive of the stories for the forseeable future.</p>
  <p>Thank you everyone for your contributions (from suggestions for the game dictionary to the stories themselves).</p>
  <p>&mdash; Jared, Nov 2019</p>
</main>
{{ end }}
