{{ define "main" }}
<main>
  <p>I've been building massive data pipelines at <a href="https://liveramp.com/">LiveRamp</a> for most of the last five years, where I was the tech lead responsible for a PB-scale device graph. Now I'm on a few month hiatus spending time coding, traveling, reading, and writing.</p>
  <p>At LiveRamp, I worked throughout the distributed system stack: Java, Hadoop, Cascading, Thrift RPC services, Docker, Kubernetes, Consul, ZooKeeper, KV Stores, streaming systems, and build tooling. I also have experience hiring, mentoring, and setting technical direction.</p>
  <p>I'll be jumping into the job market again at the end of 2019 / early 2020. This time around I'm looking for a role at an early stage startup.</p>
  <p>Feel free to get in touch with me at me@jaredrhizor.com.</p>
  <p>LinkedIn: <a href="https://linkedin.com/in/jrhizor">linkedin.com/in/jrhizor</a><br>GitHub: <a href="https://github.com/jrhizor">github.com/jrhizor</a></p>
</main>
{{ end }}
