<title>Jared Rhizor</title>
<!-- todo: add description, etc -->

<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Lora|Share+Tech+Mono&display=swap"> 
<link rel="stylesheet"  href="{{ "css/main.css" | relURL}}">
<link rel="stylesheet" href="{{ "css/gitalk.css" | relURL}}">
<script src="{{ "js/gitalk.min.js" | relURL}}"></script>
<link rel="alternate" type="application/rss+xml" title="Jared Rhizor's RSS Feed" href="/posts/index.xml" />
<meta name="viewport" content="width=572">
