name: update jrhizor.dev

on:
  push:
    branches:
    - source

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: initialize
      uses: peaceiris/actions-hugo@v2.2.1
      with:
        hugo-version: '0.58.3'
    - name: generate
      run: hugo --gc --minify --cleanDestinationDir
    - name: deploy
      uses: peaceiris/actions-gh-pages@v2.4.0
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: master
        PUBLISH_DIR: ./public
    - name: lighthouse audit
      uses: jakejarvis/lighthouse-action@master
      with:
        url: 'https://jrhizor.dev/'
    - name: save lighthouse audit results as an artifact
      uses: actions/upload-artifact@master
      with:
        name: report
        path: './report'
